<%= form_for(@registre) do |f| %>
  <% if @registre.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@registre.errors.count, "error") %> ont empéché l'enregistrement de cette note de frais:</h2>

      <ul>
      <% @registre.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :'Motif du déplacement' %><br>
    <%= f.text_field :motif %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div >
    <%= f.label :Trajet %><br>
    <!-- Add entry form to select trajet_id -->
    <%= f.collection_select(:trajet_id, Trajet.all, :id, :name, { prompt: "Selectionnez votre trajet:"} ) %>
  </div>
  <div class="field">
    <%= f.label :'Lieu de départ' %><br>
    <%= f.text_field :origine %>
  </div>
  <div class="field">
    <%= f.label :destination %><br>
    <%= f.text_field :destination %>
  </div>
  <div class="field">
    <%= f.label :'Nombre de kilomètres' %><br>
    <%= f.number_field :distance %>
  </div><br>
  <div class="actions">
    <%= f.submit 'Enregistrer'%>
  </div><br>
<% end %>
