<%= form_for(@registre) do |f| %>
  <% if @registre.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@registre.errors.count, "error") %> prohibited this registre from being saved:</h2>

      <ul>
      <% @registre.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :motif %><br>
    <%= f.text_field :motif %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :origine %><br>
    <%= f.text_field :origine %>
  </div>
  <div class="field">
    <%= f.label :destination %><br>
    <%= f.text_field :destination %>
  </div>
  <div class="field">
    <%= f.label :distance %><br>
    <%= f.number_field :distance %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
