<p id="notice"><%= notice %></p>

<h1>Listing Registres</h1>

<table>
  <thead>
    <tr>
      <th>Motif</th>
      <th>Date</th>
      <th>Origine</th>
      <th>Destination</th>
      <th>Distance</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @registres.each do |registre| %>
      <tr>
        <td><%= registre.motif %></td>
        <td><%= registre.date %></td>
        <td><%= registre.origine %></td>
        <td><%= registre.destination %></td>
        <td><%= registre.distance %></td>
        <td><%= registre.user %></td>
        <td><%= link_to 'Show', registre %></td>
        <td><%= link_to 'Edit', edit_registre_path(registre) %></td>
        <td><%= link_to 'Destroy', registre, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Registre', new_registre_path %>
