<p id="notice"><%= notice %></p>

<h1>Listing des notes de frais</h1>

<table class="table table-hover table-bordered table-responsive" >
  <thead>
    <tr>
      <th>Motif</th>
      <th>Date</th>
      <th>Lieu de départ</th>
      <th>Destination</th>
      <th>Distance</th>
      <!-- <th>User</th> -->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @registres.each do |registre| %>
      <tr>
        <td><%= registre.motif %></td>
        <td><%= registre.date %></td>
        <td><%= registre.origine %></td>
        <td><%= registre.destination %></td>
        <td><%= registre.distance %></td>
        <!-- <td><%= registre.user %></td> -->
        <td><%= link_to 'Afficher', registre, class: 'btn btn-warning'  %></td>
        <td><%= link_to 'Editer', edit_registre_path(registre), class: 'btn btn-warning' %></td>
        <td><%= link_to 'Supprimer', registre, method: :delete, data: { confirm: 'Etes-vous sur?' }, class: 'btn btn-warning' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nouvelle note de frais', new_registre_path, class: 'btn btn-success' %>
