<p id="notice"><%= notice %></p>

<p>
  <strong>Motif du deplacement:</strong>
  <%= @registre.motif %>
</p>

<p>
  <strong>Date:</strong>
  <%= @registre.date %>
</p>

<p>
  <strong>Origine:</strong>
  <%= @registre.origine %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @registre.destination %>
</p>

<p>
  <strong>Distance:</strong>
  <%= @registre.distance %>
</p>


<%= link_to 'Editer', edit_registre_path(@registre), class: 'btn btn-warning' %> |
<%= link_to 'Retour', registres_path, class: 'btn btn-warning' %>
