<!-- Add navbar -->
<header class="navbar navbar-default" role="navigation">
   <div class="navbar-inner">
     <div class="container">
       <div id="logo" class="navbar-brand">
         <%= link_to "Mes Frais", root_path %>
       </div>
       <nav class="collapse navbar-collapse navbar-ex1-collapse">
         <% if user_signed_in? %>
           <ul class="nav navbar-nav navbar-right">
             <li>
               <%= link_to "Nouvelle note de frais", new_registre_path, class: 'btn btn-alert' %>
             </li>
             <li>
               <%= link_to "Compte",  edit_user_registration_path %>
             </li>
             <li>
               <%= link_to "Deconnexion",  destroy_user_session_path, :method => :delete %>
             </li>
           </ul>
           <% else %>
             <ul class="nav navbar-nav pull-right">
               <li>
                 <%= link_to "S'inscrire",  new_user_registration_path %>
               </li>
               <li>
                 <%= link_to "Connexion",  new_user_session_path %>
               </li>
             </ul>
             <% end %>
       </nav>
     </div>
   </div>
 </header>
